<?xml  version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" >
  <!-- Generated via Iro -->
  <dict>
    <key>fileTypes</key>
    <array>
      <string>gon</string>
    </array>
    <key>name</key>
    <string>gon</string>
    <key>patterns</key>
    <array>
      <dict>
        <key>include</key>
        <string>#main</string>
      </dict>
    </array>
    <key>scopeName</key>
    <string>source.gon</string>
    <key>uuid</key>
    <string></string>
    <key>repository</key>
    <dict>
      <key>main</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>begin</key>
            <string>(\b[a-zA-Z_][a-zA-Z_0-9]*)(?=\s*\{)</string>
            <key>beginCaptures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>entity.name.type.gon</string>
              </dict>
            </dict>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#main__1</string>
              </dict>
            </array>
            <key>end</key>
            <string>(^(?=.{0,1})(?:|))</string>
            <key>endCaptures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>entity.name.type.gon</string>
              </dict>
            </dict>
          </dict>
          <dict>
            <key>begin</key>
            <string>(\b[a-zA-Z_][a-zA-Z_0-9]*)(?=(\s*)\[)</string>
            <key>beginCaptures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>entity.name.type.gon</string>
              </dict>
            </dict>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#main__2</string>
              </dict>
            </array>
            <key>end</key>
            <string>(^(?=.{0,1})(?:|))</string>
            <key>endCaptures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>entity.name.type.gon</string>
              </dict>
            </dict>
          </dict>
          <dict>
            <key>begin</key>
            <string>([a-zA-Z_][a-zA-Z_0-9]*(\s|$)+)</string>
            <key>beginCaptures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>support.variable.gon</string>
              </dict>
            </dict>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#main__3</string>
              </dict>
            </array>
            <key>end</key>
            <string>((\s|$)+)</string>
            <key>endCaptures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>support.variable.gon</string>
              </dict>
            </dict>
          </dict>
          <dict>
            <key>include</key>
            <string>#object</string>
          </dict>
          <dict>
            <key>include</key>
            <string>#array</string>
          </dict>
          <dict>
            <key>include</key>
            <string>#comments</string>
          </dict>
        </array>
      </dict>
      <key>array</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>begin</key>
            <string>(\[)</string>
            <key>beginCaptures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>keyword.operator.gon</string>
              </dict>
            </dict>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#array__1</string>
              </dict>
            </array>
            <key>end</key>
            <string>(\])</string>
            <key>endCaptures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>keyword.operator.gon</string>
              </dict>
            </dict>
          </dict>
        </array>
      </dict>
      <key>array__1</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>match</key>
            <string>(,)</string>
            <key>name</key>
            <string>keyword.operator.gon</string>
            <key>comment</key>
            <string>comma</string>
          </dict>
          <dict>
            <key>include</key>
            <string>#array</string>
          </dict>
          <dict>
            <key>include</key>
            <string>#comments</string>
          </dict>
          <dict>
            <key>include</key>
            <string>#bool</string>
          </dict>
          <dict>
            <key>include</key>
            <string>#number</string>
          </dict>
          <dict>
            <key>include</key>
            <string>#string</string>
          </dict>
        </array>
      </dict>
      <key>bool</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>match</key>
            <string>(true|false)</string>
            <key>name</key>
            <string>constant.language.gon</string>
            <key>comment</key>
            <string>bool</string>
          </dict>
        </array>
      </dict>
      <key>comments</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>begin</key>
            <string>(/\*)</string>
            <key>beginCaptures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>comment.gon</string>
              </dict>
            </dict>
            <key>contentName</key>
            <string>comment.gon</string>
            <key>end</key>
            <string>(\*/(\s|$)*)</string>
            <key>endCaptures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>comment.gon</string>
              </dict>
            </dict>
          </dict>
          <dict>
            <key>match</key>
            <string>(//.*)</string>
            <key>name</key>
            <string>comment.gon</string>
            <key>comment</key>
            <string>regular_comment</string>
          </dict>
          <dict>
            <key>match</key>
            <string>(#.*)</string>
            <key>name</key>
            <string>comment.gon</string>
            <key>comment</key>
            <string>hash_comment</string>
          </dict>
        </array>
      </dict>
      <key>comments__1</key>
      <dict>
        <key>patterns</key>
        <array>
        </array>
      </dict>
      <key>main__1</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>include</key>
            <string>#object</string>
          </dict>
        </array>
      </dict>
      <key>main__2</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>include</key>
            <string>#array</string>
          </dict>
        </array>
      </dict>
      <key>main__3</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>include</key>
            <string>#comments</string>
          </dict>
          <dict>
            <key>include</key>
            <string>#bool</string>
          </dict>
          <dict>
            <key>include</key>
            <string>#number</string>
          </dict>
          <dict>
            <key>include</key>
            <string>#string</string>
          </dict>
        </array>
      </dict>
      <key>number</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>match</key>
            <string>([-\x{002b}]?[0-9]*\.?[0-9]+)(?=\s|\,|\}|\]|$)</string>
            <key>name</key>
            <string>constant.numeric.gon</string>
            <key>comment</key>
            <string>number</string>
          </dict>
        </array>
      </dict>
      <key>object</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>begin</key>
            <string>(\{)</string>
            <key>beginCaptures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>keyword.operator.gon</string>
              </dict>
            </dict>
            <key>patterns</key>
            <array>
              <dict>
                <key>include</key>
                <string>#object__1</string>
              </dict>
            </array>
            <key>end</key>
            <string>(\})</string>
            <key>endCaptures</key>
            <dict>
              <key>1</key>
              <dict>
                <key>name</key>
                <string>keyword.operator.gon</string>
              </dict>
            </dict>
          </dict>
        </array>
      </dict>
      <key>object__1</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>include</key>
            <string>#main</string>
          </dict>
        </array>
      </dict>
      <key>string</key>
      <dict>
        <key>patterns</key>
        <array>
          <dict>
            <key>match</key>
            <string>((&quot;(?:[^\x{0022}\x{005c}]|\\.)*&quot;)|([^\x{0028}\s\,\[\{\}\]\x{0024}\x{0029}]+))</string>
            <key>name</key>
            <string>string.gon</string>
            <key>comment</key>
            <string>string</string>
          </dict>
        </array>
      </dict>
    </dict>
  </dict>
</plist>
